* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #3e3a3a;
}

.container {
    max-width: 1272px;
}

@import "./header.scss";
