@import "../assets/fonts/stylesheets.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Gilroy", "Roboto", sans-serif;
  font-style: normal;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #211f20;
}

img {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
}

.layout {
  min-height: calc(100vh - 232px);
}

.title {
  margin: 50px 0 60px 33px;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  position: relative;

  &::before {
    content: "";
    left: -19px;
    width: 4px;
    height: 33px;
    background: #618967;
    color: #618967;
    position: absolute;
  }
}

button,
.btn {
  color: #fff;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: linear-gradient(114.93deg, #577a5c 5.11%, #57805c 94%);
  }
}

@media (min-width: 0px) and (max-width: 1272px) {
  
}



@import "./header.scss";
@import "./footer.scss";
@import "./hero.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./filter.scss";
@import "./form.scss";
@import "./register.scss";
@import "./card.scss";
